<h1>Portfolio Items</h1>
<% @portfolio.each do |item| %>
	<p><%=item.title%></p>
	<p><%=item.subtitle%></p>
	<p><%=item.body%></p>
	<p><%=item.main_image%></p>
	<p><%=item.thumb_image if !item.thumb_image.nil? %></p>
<% end %>
<button><%= link_to 'Create', new_portfolio_path(@portfolio) %></button>